/* Images.css*/

.image {
    text-align: center;
    padding: 20px;
    position: absolute;
    background-image: url('https://res.cloudinary.com/dyl3rncv3/image/upload/v1679982347/elewa-group-website/hero-Images/dark-to-light_xrat5g.jpg');
}
.image img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    border-radius: 10px;
}

.image h1{
    color: #333;
    font-size: 24px;
}