/* ScrollEffect.css */
.scroll-effect-container{
    height: 500px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3 ease-in-out;
}

.scroll-effect-container h1{
    font-size: 24px;
    color: #2f5b73;
    text-align: center;
}

button {
    margin: 20px 0;
}